<mat-toolbar color="primary">
  <button mat-button routerLink="/dashboard">{{ title }}</button>
  <span class="spacer" style="flex: 1 1 auto;"></span>
  <button *ngIf="isLoggedIn" mat-button routerLink="/contractors">Contractors</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/entities">Entities</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/locations">Locations</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/work-orders">Work Orders</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/bills">Bills</button>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
