<a routerLink="new">Add Location</a>
<h2>All Locations</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loc of locations">
      <td>{{ loc.name }}</td>
      <td>{{ loc.entityId }}</td>
      <td>{{ loc.state }}</td>
      <td>
        <button class="btn btn-primary btn-sm" [disabled]="loc.state === 'Completed'" (click)="completeLocation(loc)">
          Complete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="showCompletionForm" class="mt-4 border p-3">
  <h3>Mark {{selectedLocation?.name}} as Completed</h3>
  <div class="form-group">
    <label for="contractorSelect">Select Contractor</label>
    <select id="contractorSelect" class="form-control" [(ngModel)]="selectedContractorId">
      <option [value]="''" disabled>Select a contractor</option>
      <option *ngFor="let c of contractorOptions" [value]="c._id">{{ c.name }}</option>
    </select>
  </div>
  <button class="btn btn-success mr-2" [disabled]="!selectedContractorId" (click)="submitCompletion()">
    Submit
  </button>
  <button class="btn btn-secondary" (click)="cancelCompletion()">Cancel</button>
</div>
